<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./CSS/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Document</title>
</head>
<body>
    <script src="https://unpkg.com/vue@3.4.27/dist/vue.global.js"></script>
    <div id="app">
        <h1>Vue-To do List</h1>
        <ul>
            <!--  milestone 0:inizializzo ciclo v-for -->
            <li v-for="evento,i in listaToDo">{{evento}}
                <i @click="fXToglie(i)" class="fa-solid fa-x"></i>
            </li>
        </ul>
        <!-- milestone 1:creo input con dentro v-model al quale gli colego il data in JS -->
        <input v-model="dataInput"  type="text" placeholder="ciao, sono un input">
        <button @click="fBottoneAggiungi()">cliccami!Sono un bottone!</button>
    </div>
    <script src="./JS/script.js"></script>
</body>
</html>